.header {
    height: 7%;
    background-color: #202020;
}

#icon-menu {
    transform: scale(1.5, 1);
}

#divHeader1 {
    position: absolute;
    top: 2.25%;
    left: 2.5%; 
}

#divHeader2 {
    position: absolute;
    left: 8%;
    top: 2%;
    color: white;
}

#divHeader3 {
    position: absolute;
    left: 25%;
    width: 100%;
}

#inputSearchBar {
    position: absolute;
    width: 50%;
    margin-top: 13px;
    border: 1px solid grey;
    background-color: #121212;
}